.footer_wrapper {
  border-top: 1px solid rgba(0,0,0,0.51);
  margin-top: 30px;
}

.footer_content {
  margin-top: 20px;
  background: none;
  padding: 40px;
  border: 2px solid rgba(0, 0, 0, 0.51);
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
}

.sum_price {
  font-size: 26px;
  color: #000;
}

.sum_price span {
  font-weight: 800;
  padding-right: 5px;
}

.btn_finish button{
  font-size: 24px;
  background: #000;
  padding: 10px 25px;
  align-items: center;
  color: #fff;
  border-radius: 5px;
}

.btn_finish button:hover {
  background: #fff;
  color: #000;
}