.card_wrapper {
  padding: 0;
  width: 334px;
  border: none;
  border-radius: .28571429rem;
  box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
  margin: 1em;
  transition: transform .2s;

  &:hover {
    transform: translateY(-5px);
  }
}

.card_wrapper .main {
  height: 334px;
  background: rgb(242, 242, 242);
}

.card_wrapper .main img {
  margin: 0;
  height: 100%;
  width: 100%;
}

.card_wrapper .text {
  padding: 1em;
  background: #fff;
  color: #000;
  height: 78px;
  width: 100%;
}

.card_wrapper .text .name {
  font-weight: 700;
  font-size: 1.28571429em;
  margin-top: -.21425em;
  line-height: 1.28571429em;
}

.card_wrapper .text .cost {
  margin-top: 3px;
  font-size: 1em;
  color: dimgray;
}

@media screen and (max-width: 400px) {
  .card_wrapper {
    width: 200px;
    border-radius: 0;
  }

  .card_wrapper .main img {
    height: 200px;
  }

  .card_wrapper .main {
    height: 200px;
  }
}