* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav_wrapper {
  margin: 0 auto;
  width: 100%;
  height: 100px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  box-shadow: 2px -7px 20px -4px rgba(0,0,0,0.51);
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  height: 100%;
  padding: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.navbar {
  padding: 0;
  font-size: 24px;
  font-weight: 600;
}

.nav_link {
  display: block;
  color: #000;
  padding: 36px 1.5em;
  text-decoration: none;
}

.nav_link:hover {
  text-decoration: none;
  color: #000;
}

.active {
  color: #000;
  background: rgb(242,242,242);
  position: relative;
}

.active:after, .active:before {
  top: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position:   absolute;
  pointer-events: none;
}

.active:after {
  border-color: rgba(255, 255, 255, 0);
  border-top-color: rgb(242,242,242);
  border-width: 10px;
  left: 50%;
  margin-left: -10px;
}
.active:before {
  border-color: rgba(0, 83, 129, 0);
  border-top-color: #000;
  border-width: 11px;
  left: 50%;
  margin-left: -11px;
}


.left_col, .right_col {
  display: flex;
}

.wrapper_main {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.menuBurger {
  display: none;
}

.bottom_col {
  display: none;
}

.menu_active_none{
  display: none;
}

@media screen and (max-width: 800px) {
  .right_col {
    display: none;
  }

  .menuBurger {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin-right: 25px;
  }
}

@media screen and (max-width: 400px) {
  .left_col {
    font-size: 20px;
  }

  .menuBurger {
    display: inline-block;
    width: 25px;
    height: 25px;
    margin-right: 25px;
  }
}

@media screen and (max-width: 400px) {
  .nav_link {
    padding: 37px 2em;
  }
}